<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="DWB_Control_Switch.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
    <userSettings>
        <DWB_Control_Switch.My.MySettings>
            <setting name="timeOut" serializeAs="String">
                <value>500</value>
            </setting>
            <setting name="refreshRate" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="AND01Address" serializeAs="String">
                <value/>
            </setting>
            <setting name="AND02Address" serializeAs="String">
                <value/>
            </setting>
            <setting name="AND03Address" serializeAs="String">
                <value/>
            </setting>
            <setting name="AND04Address" serializeAs="String">
                <value/>
            </setting>
            <setting name="AND05Address" serializeAs="String">
                <value/>
            </setting>
            <setting name="AND06Address" serializeAs="String">
                <value/>
            </setting>
            <setting name="AND07Address" serializeAs="String">
                <value/>
            </setting>
            <setting name="AND08Address" serializeAs="String">
                <value/>
            </setting>
            <setting name="AND09Address" serializeAs="String">
                <value/>
            </setting>
            <setting name="AND10Address" serializeAs="String">
                <value/>
            </setting>
            <setting name="AND11Address" serializeAs="String">
                <value/>
            </setting>
            <setting name="AND12Address" serializeAs="String">
                <value/>
            </setting>
            <setting name="AND13Address" serializeAs="String">
                <value/>
            </setting>
            <setting name="AND14Address" serializeAs="String">
                <value/>
            </setting>
            <setting name="AND15Address" serializeAs="String">
                <value/>
            </setting>
            <setting name="AND16Address" serializeAs="String">
                <value/>
            </setting>
            <setting name="NC01Address" serializeAs="String">
                <value/>
            </setting>
            <setting name="NC02Address" serializeAs="String">
                <value/>
            </setting>
            <setting name="NC03Address" serializeAs="String">
                <value/>
            </setting>
            <setting name="NC04Address" serializeAs="String">
                <value/>
            </setting>
            <setting name="NC05Address" serializeAs="String">
                <value/>
            </setting>
            <setting name="NC06Address" serializeAs="String">
                <value/>
            </setting>
            <setting name="OR01Address" serializeAs="String">
                <value/>
            </setting>
            <setting name="OR02Address" serializeAs="String">
                <value/>
            </setting>
            <setting name="OR04Address" serializeAs="String">
                <value/>
            </setting>
            <setting name="NO04Address" serializeAs="String">
                <value/>
            </setting>
            <setting name="NO05Address" serializeAs="String">
                <value/>
            </setting>
            <setting name="OR03Address" serializeAs="String">
                <value/>
            </setting>
            <setting name="traceErrorColor" serializeAs="String">
                <value>Gray</value>
            </setting>
            <setting name="NO01Address" serializeAs="String">
                <value/>
            </setting>
            <setting name="NO02Address" serializeAs="String">
                <value/>
            </setting>
            <setting name="NO03Address" serializeAs="String">
                <value/>
            </setting>
        </DWB_Control_Switch.My.MySettings>
    </userSettings>
</configuration>
